@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .btn {
    @apply text-white hover:text-blue-500 right-0 w-2/4 border-solid border-2 mt-3 p-3 bg-blue-500 hover:bg-white;
  }
  .nav-item {
    @apply flex content-center items-center h-full px-3 hover:bg-indigo-200 hover:text-white hover:cursor-pointer;
  }
}
